<div class="signup">
    <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="name" [(ngModel)]="signupObj.name" placeholder="User name" required="">
        <input type="email" name="email" [(ngModel)]="signupObj.email" placeholder="Email" required="">
        <input type="password" name="password" [(ngModel)]="signupObj.password" placeholder="Password" required="">
        <button (click)="onSignup()">Sign up</button>
        <a [routerLink]="['/login']">Login</a>
    </form>
</div>

<router-outlet></router-outlet>