.container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}

.row {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"], select.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 80%;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}

.is-invalid {
    border-color: #dc3545 !important;
}

.container {
    position: relative; // Ensures the container takes at least the full viewport height
}

.form-container {
    max-height: calc(10vh - 20px); // Adjusts the container height to be the full viewport height minus the footer height
    padding: 1rem; // Optional: Adds some padding inside the container
}

.footerSpace {
    margin-top: 20px;
}