<div class="container">
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-4">
                <label for="firstname">FirstName</label>
                <input type="text" class="form-control" formControlName="firstname" 
                [class.is-invalid]="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched">
                <div *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.errors?.['required']" class="invalid-feedback">
                    First name is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="lastname">LastName</label>
                <input type="text" class="form-control" formControlName="lastname" 
                [class.is-invalid]="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched">
                <div *ngIf="userForm.get('lastname')?.touched && userForm.get('lastname')?.errors?.['required']" class="invalid-feedback">
                    Last name is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email" 
                [class.is-invalid]="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']" class="invalid-feedback">
                    Email is required.
                </div>
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['email']" class="invalid-feedback">
                    Enter a valid email address.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" formControlName="mobile" 
                [class.is-invalid]="userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched">
                <div *ngIf="userForm.get('mobile')?.touched && userForm.get('mobile')?.errors?.['required']" class="invalid-feedback">
                    Mobile number is required.
                </div>
                <div *ngIf="userForm.get('mobile')?.touched && userForm.get('mobile')?.errors?.['minlength']" class="invalid-feedback">
                    Mobile number must be at least 10 characters long.
                </div>
                <div *ngIf="userForm.get('mobile')?.touched && userForm.get('mobile')?.errors?.['maxlength']" class="invalid-feedback">
                    Mobile number cannot be more than 10 characters long.
                </div>
                <div *ngIf="userForm.get('mobile')?.touched && userForm.get('mobile')?.errors?.['pattern']" class="invalid-feedback">
                    Mobile number should be a integer.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="grade">Grade</label>
                <input type="text" class="form-control" formControlName="grade" 
                [class.is-invalid]="userForm.get('grade')?.invalid && userForm.get('grade')?.touched">
                <div *ngIf="userForm.get('grade')?.touched && userForm.get('grade')?.errors?.['required']" class="invalid-feedback">
                    Grade is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="gender">Gender</label>
                <select class="form-control" formControlName="gender" 
                        [class.is-invalid]="userForm.get('gender')?.invalid && userForm.get('gender')?.touched">
                    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                </select>
                <div *ngIf="userForm.get('gender')?.touched && userForm.get('gender')?.errors?.['required']" class="invalid-feedback">
                    Gender is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button class="btn btn-success" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </form>
</div>
